@import "_reset_css.scss";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: normal;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
}

html {
    font-family: Microsoft JhengHei;
    background: #f6dbb4;
    min-width: 1000px;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    min-width: 1000px;
    height: 980px;
    overflow: hidden;
    .box {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        .logo {
            width: 513px;
            height: 662px;
            position: absolute;
            margin-top: 9.5%;
            background: url(../images/logo.png) no-repeat;
            background-size: cover;
            animation: bounceInLeft;
            animation-duration: 2s;
        }
        .bl,
        .br {
            position: absolute;
            background: url(../images/ball.png) no-repeat;
            background-size: 100%;
            animation: bounceInRight;
            animation-duration: 2s;
        }
        .bl {
            width: 56px;
            height: 69px;
            margin-top: 9%;
            left: 36%;
        }
        .br {
            width: 104px;
            height: 107px;
            margin-top: 24.55%;
            right: -6.5%;
        }
        .logot {
            width: 448px;
            height: 216px;
            position: absolute;
            margin-top: 6%;
            right: 3%;
            background: url(../images/logot.png) no-repeat;
            background-size: cover;
            animation: bounceInUp;
            animation-duration: 2s;
        }
        .input {
            -webkit-box-reflect: below 77px linear-gradient(transparent 65%, rgba(255, 255, 255, 0.3) 100%);
            position: absolute;
            margin-top: 31%;
            right: 6.5%;
            width: 367px;
            animation: bounceInUp;
            animation-duration: 2s;
            .top {
                width: 367px;
                height: 64px;
                margin-bottom: 14px;
                .n,
                .o {
                    float: left;
                    text-align: center;
                    width: 176px;
                    height: 65px;
                    line-height: 65px;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 24px;
                    box-shadow: 1px 1px 5px 0px #feeccc inset;
                }
                .n {
                    margin-right: 14px;
                    color: #2c1c09;
                    background: linear-gradient(
                        to top,
                        #834200 0%,
                        #e6c290 11%,
                        #7a4100 28%,
                        #c0945f 47%,
                        #e6c290 66%,
                        #fff0da 84%,
                        #d4ae88 100%
                    );
                    &:active,
                    &:hover {
                        background: linear-gradient(
                            to top,
                            #af5801 0%,
                            #ffd8a1 11%,
                            #aa5b01 28%,
                            #e7b373 47%,
                            #fdd69f 66%,
                            #fff0da 84%,
                            #f7ca9e 100%
                        );
                    }
                }
                .o {
                    color: #fff;
                    background: linear-gradient(to top, #fcedcd 0%, #e2bd8f 6%, #9e6a21 49%, #793a00 100%);
                }
            }
            .bottom {
                width: 367px;
                @include clearfix;
                .l {
                    float: left;
                    width: 223px;
                    margin-right: 13px;
                    input {
                        display: block;
                        width: 218px;
                        height: 32px;
                        border-radius: 3px;
                        &::placeholder {
                            line-height: normal;
                        }
                    }
                    .t {
                        margin-bottom: 15px;
                        padding-bottom: 0;
                    }
                }
                .r {
                    width: 130px;
                    height: 87px;
                    float: left;
                    position: relative;
                    font-size: 24px;
                    cursor: pointer;
                    color: #29153b;
                    border-radius: 3px;
                    box-shadow: 1px 1px 5px 0px #fff inset;
                    background: linear-gradient(
                        to top,
                        #341c7f 0%,
                        #b870ef 13%,
                        #8055bc 26%,
                        #b96fe7 40%,
                        #fac0ff 61%,
                        #e1f8ff 78%,
                        #b0ead6 84%,
                        #8055bc 100%
                    );
                    &:active,
                    &:hover {
                        background: linear-gradient(
                            to top,
                            #4726aa 0%,
                            #c578ff 13%,
                            #9e6ae7 26%,
                            #cc7bff 40%,
                            #fac0ff 61%,
                            #e1f8ff 78%,
                            #bdfce6 84%,
                            #a16ceb 100%
                        );
                    }
                    div {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }
        .ib {
            position: absolute;
            width: 369px;
            height: 75px;
            background: url(../images/input_b.png) no-repeat;
            background-size: 100%;
            margin-top: 55%;
            right: 6.7%;
            animation: bounceInUp;
            animation-duration: 2s;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                display: block;
            }
            @media screen and (min--moz-device-pixel-ratio: 0) {
                display: block;
            }
            display: none;
        }
    }
    .bg {
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}

.iebg {
    display: none;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: block;
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}
