@import "_reset_css.scss";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

input {
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
}

html {
    font-family: Microsoft JhengHei;
    background: #f6dbb4;
    min-width: 1000px;
    height: 100%;
}

.container {
    position: relative;
    min-width: 1000px;
    height: 980px;
    overflow: hidden;
    .box {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        .logo {
            width: 32.063rem;
            height: 41.375rem;
            position: absolute;
            margin-top: 9.5%;
            background: url(../images/logo.png) no-repeat;
            background-size: cover;
            animation: bounceInLeft;
            animation-duration: 2s;
        }
        .bl,
        .br {
            position: absolute;
            background: url(../images/ball.png) no-repeat;
            background-size: 100%;
            animation: bounceInRight;
            animation-duration: 2s;
        }
        .bl {
            width: 3.5rem;
            height: 3.688rem;
            margin-top: 9%;
            left: 36%;
        }
        .br {
            width: 6.5rem;
            height: 6.688rem;
            margin-top: 24.55%;
            right: -6.5%;
        }
        .logot {
            width: 28rem;
            height: 13.5rem;
            position: absolute;
            margin-top: 6%;
            right: 3%;
            background: url(../images/logot.png) no-repeat;
            background-size: cover;
            animation: bounceInUp;
            animation-duration: 2s;
        }
        .input {
            position: absolute;
            margin-top: 31%;
            right: 6.5%;
            width: 368px;
            animation: bounceInUp;
            animation-duration: 2s;
            .top {
                display: inline-block;
                margin-bottom: 10px;
                .n,
                .o {
                    float: left;
                    text-align: center;
                    width: 11.25rem;
                    line-height: 3.5rem;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 1.5rem;
                    box-shadow: 1px 1px 5px 0px #feeccc inset;
                }
                .n {
                    height: 56px;
                    margin-right: 7px;
                    color: #2c1c09;
                    background: linear-gradient(
                        to top,
                        #834200 0%,
                        #e6c290 11%,
                        #7a4100 28%,
                        #c0945f 47%,
                        #e6c290 66%,
                        #fff0da 84%,
                        #d4ae88 100%
                    );
                    &:active,
                    :hover {
                        background: linear-gradient(
                            to top,
                            #af5801 0%,
                            #ffd8a1 11%,
                            #aa5b01 28%,
                            #e7b373 47%,
                            #fdd69f 66%,
                            #fff0da 84%,
                            #f7ca9e 100%
                        );
                    }
                }
                .o {
                    color: #fff;
                    background: linear-gradient(to top, #fcedcd 0%, #e2bd8f 6%, #9e6a21 49%, #793a00 100%);
                }
            }
            .bottom {
                width: 100%;
                @include clearfix;
                .l {
                    float: left;
                    width: 220px;
                    margin-right: 13px;
                    input {
                        display: block;
                        width: 13.5rem;
                        height: 2rem;
                        border-radius: 3px;
                        &::placeholder {
                            line-height: normal;
                        }
                        &:nth-of-type(2) {
                            margin-top: 19px;
                            padding-bottom: 0;
                        }
                    }
                }
                .r {
                    float: left;
                    position: relative;
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: #29153b;
                    p {
                        padding: 20px 43px;
                        border-radius: 3px;
                        box-shadow: 1px 1px 5px 0px #fff inset;
                        background: linear-gradient(
                            to top,
                            #341c7f 0%,
                            #b870ef 13%,
                            #8055bc 26%,
                            #b96fe7 40%,
                            #fac0ff 61%,
                            #e1f8ff 78%,
                            #b0ead6 84%,
                            #8055bc 100%
                        );
                        &:active,
                        :hover {
                            background: linear-gradient(
                                to top,
                                #4726aa 0%,
                                #c578ff 13%,
                                #9e6ae7 26%,
                                #cc7bff 40%,
                                #fac0ff 61%,
                                #e1f8ff 78%,
                                #bdfce6 84%,
                                #a16ceb 100%
                            );
                        }
                    }
                }
            }
        }
        .ib {
            position: absolute;
            width: 23.1rem;
            height: 4.688rem;
            background: url(../images/input_b.png) no-repeat;
            background-size: 100%;
            margin-top: 55%;
            right: 6.7%;
            animation: bounceInUp;
            animation-duration: 2s;
        }
    }
    .bg {
        position: absolute;
        background: url(../images/bg.png) no-repeat top center;
        background-size: 1920px;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}
